#container-references{
    display: flex;
    flex-direction: column;
}

#references{
    display: flex;
}

h1{
    color:white;
}


#header-card{
    display:flex;
    align-items: center;
}

#date{
    text-align: center;
    background: rgba(18, 171, 122,0.8);
    border-radius: 5px;
    padding:15px;
    margin-right:20px;
}

#info-reference{
    margin:20px 0px 0px 0px;
    font-size: 18px;
}

#info-reference div{
    margin:5px;
}

#card {
    width: 600px;
    border-radius: 5px;
    background-color:black;
    margin:30px;
    color: white;
    padding: 50px;
}

#card h5 {
    font-size: 18px;
    color: #12AB7A;
}

#iconRef {
    margin-right: 10px;
    font-size: 20px;
}


@media (min-width:270px) and (max-width:380px) {
    #references{
        flex-direction: column;
    }

    #card{
        width:auto;
    }
    
    #header-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #date{
        margin-right:0px;
        margin-bottom: 20px;
    }
}

@media (min-width:380px) and (max-width: 430px) {
    #references{
        flex-direction: column;
    }

    #card{
        width:auto;
    }
    

}

@media (min-width:431px) and (max-width:780px){
    #references{
        flex-direction: column;
    }

    #card{
        width:auto;
    }
    
}
