#container-badges{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:60px;
}

#badge img{
    width:200px;
    height: 200px;
    padding:10px;
}
#issued{
    padding:3px 3px 3px 10px;
    background-color: rgba(10, 235, 164, 0.103);
    color: #1bd197;
    width: 200px;
    border-radius: 6px;
    border:1px #1bd19796 solid;
    font-size: px;
}
#cert{
    background-color: #0F0F0F;
    padding:20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.157);
    color:white;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 400ms;
}

#cert:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
#cert h5{
    color:#12AB7A;
}
#info-badge{
    padding:20px;
    width: 100%;
}

@media (max-width:768px){

    #container-badges{
        padding-top:0px;
    }
    #info-badge{
        padding:0px;
    }

    #issued{
        width: 100%;
    }

    #cert{
        margin: 10px;
        width: auto;
        text-align: center;
        flex-direction: column;
    }
}




