#container-badges{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#badge img{
    width:200px;
    height: 200px;
    padding:10px;
}
#cert{

    color:white;
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#cert h5{
    color:#12AB7A;
}
#info-badge{
    padding:20px;
}


@media (min-width:270px) and (max-width:380px){
    #info-badge{
        padding:0px;
    }

    #cert{
        text-align: center;
        flex-direction: column;
    }
}


@media (min-width:380px) and (max-width: 430px){

    #info-badge{
        padding:0px;
    }

    #cert{
        text-align: center;
        flex-direction: column;
    }

}


@media (min-width:431px) and (max-width:780px){

    #info-badge{
        padding:0px;
    }

    #cert{
        text-align: center;
        flex-direction: column;
    }

}