#project,
#experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#title-projects{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}
.drupal-ex{
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(-120%); /* Movido hacia la izquierda */
}
.drupal-ex.effect{
    animation-name: loadLeft;
    animation-duration: 1.2s;
    animation-fill-mode: forwards; /* La animación retiene el estado final */
}

.chi-ex{
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(-120%); /* Movido hacia la izquierda */
}
.chi-ex.effect{

    animation-name: loadRight;
    animation-duration: 1.2s;
    animation-fill-mode: forwards; /* La animación retiene el estado final */
}

#projectImgGreen img{
    width: 500px !important;
}
#title-projects h1{
    font-size:50px;
}

#title-projects p{
    font-size:20px;
    color:gray;
}

#projects h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#iconP{
    font-size:35px;

}

#buttonProject{
    background-color: #8B61E3;
    color:white;
    border-radius: 5px;
    font-weight: bold;
}


#project div img {
    height: 450px;
    width: 900px;
}

#experience #expImg {
    width: 900px;
    height: 500px;
    margin-bottom: 20px;
}

.pDesc {
    width: 380px;
}

#project {
    margin-bottom: 100px;
}

#experience #imgDiv {
    margin-right: 80px;
}

#hyperlinkWeb {
    text-decoration: none;
    color: white;
}



@media (min-width:270px) and (max-width:380px) {
    .chi-ex{
        opacity: 0; /* Inicialmente oculto */
        transform: translateX(-120%); /* Movido hacia la izquierda */
    }
    .chi-ex.effect{
        animation-delay: 0.5s;
        animation-name: loadRight;
        animation-duration: 1.2s;
        animation-fill-mode: forwards; /* La animación retiene el estado final */
    }
    

    #project {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #iconP{
        font-size:35px;
    }
    #project {
        margin-bottom: 50px;
    }

    #subTitleProjects {
        width: 270px;
    }

    .pDesc {
        width: 270px;
    }

    #project div img {
        width: 270px;
        height: 140px;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block-experiences #drupal-ex, #sigchi-ex{
        width: 320px;
    }

    #experience #expImg{
        width:320px;
    }

    #projectImgGreen img{
        width: 250px !important;
        height: 200px !important;
    }   
}

@media (min-width:380px) and (max-width: 430px) {

    .chi-ex{
        opacity: 0; /* Inicialmente oculto */
        transform: translateX(-120%); /* Movido hacia la izquierda */
    }
    .chi-ex.effect{
        animation-delay: 0.5s;
        animation-name: loadRight;
        animation-duration: 1.2s;
        animation-fill-mode: forwards; /* La animación retiene el estado final */
    }
    

    #project {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #iconP{
        font-size:35px;
    }
    #project {
        margin-bottom: 50px;
    }

    #subTitleProjects {
        width: 270px;
    }

    .pDesc {
        width: 270px;
    }

    #project div img {
        width: 270px;
        height: 140px;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block-experiences #drupal-ex, #sigchi-ex{
        width: 320px;
    }

    #experience #expImg{
        width:320px;
    }

    #projectImgGreen img{
        width: 250px !important;
        height: 200px !important;
    }   
}

@media (min-width:431px) and (max-width:780px){
    .chi-ex{
        opacity: 0; /* Inicialmente oculto */
        transform: translateX(-120%); /* Movido hacia la izquierda */
    }
    .chi-ex.effect{
        animation-delay: 0.5s;
        animation-name: loadRight;
        animation-duration: 1.2s;
        animation-fill-mode: forwards; /* La animación retiene el estado final */
    }
    

    #project {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #iconP{
        font-size:35px;
    }
    #project {
        margin-bottom: 50px;
    }

    #subTitleProjects {
        width: 390px;
    }

    .pDesc {
        width: 380px;
    }

    #project div img {
        width: 430px;
        height: 240px;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    #block-experiences #drupal-ex, #sigchi-ex{
        width: 390px;
    }

    #experience #expImg{
        width:430px;
    }

    #projectImgGreen img{
        width: 400px !important;
        height: 280px !important;
    }   
}