#projects{
    padding-top:60px;
}
#project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#individualProject{
    width: 70%;
    background-color: #1F1F1F;
    padding:30px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.192);
    padding: 30px;
    transition: 400ms;
}

#individualProject:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

#individualProject:hover #pDesc{
    background-color: #0F0F0F;
}

#insideProject{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    transition: 400ms;
}

#individualProject:hover #buttonProject{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

#buttonProject{
    background-color: #1F1F1F;
    color:white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    padding:10px 20px 10px 20px;
    border:1px solid #2F2F2F;
    font-size: 18px;
    transition: 400ms;
}


#pDesc {
    margin-left:20px;
    color:white;
    border-radius: 8px;
    background-color:#2F2F2F;
    width: auto;
    padding: 30px;

}

#pDesc h2{
    font-size:25px;
}


#projectImg img{
    width: 200px;
    border-radius: 8px;
}

#projects h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#iconP{
    font-size:35px;

}


#project div img {
    height: 300px;
    width: 500px;
}


#block-experiences{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#block-experiences #drupal-ex, #sigchi-ex, #pytuthor-ex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 430px;
    margin: 30px;
}



#drupal-ex{
    border-radius: 5px;
    height: 350px;
    background-image: url("../../../public/drupalcamp.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#pytuthor-ex{
    border-radius: 5px;
    height: 350px;
    background-image: url("../../../public/pytuthor.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#sigchi-ex{
    border-radius: 5px;
    height: 350px;
    background-image: url("../../../public/sigchi.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#sigchi-ex a {
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(81, 80, 80, 0.349);
    transition: 400ms;
}

#sigchi-ex a:hover{
    background-color: rgba(64, 64, 64, 0.453);
}


#title-experiences h1{
    text-align: center;
    font-size: 40px;
    color:white;
}

#title-experiences p{
    font-size:18px;
    color:white;
    text-align: center;
}



#experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#sigchi-ex, #drupal-ex, #pytuthor-ex p{
    font-size: 18px;
}


@media (min-width:270px) and (max-width:380px) {

    
    #individualProject{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;
    }

    #insideProject{
        flex-direction: column;
    }

    #project div img {
        width: 250px;
        height: 180px;
    }

    #pDesc{
        margin-left: 0px;
        margin-top: 10px;
        width: auto;
        padding: 10px;
        text-align: center;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block-experiences #drupal-ex, #sigchi-ex, #pytuthor-ex{
        width: auto;
        margin: 10px;
    }

    #projects{
        padding-top:0px;
    }

}

@media (min-width:380px) and (max-width: 430px) {

    #project {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #individualProject{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 350px;
    }

        #insideProject{
        flex-direction: column;
    }
    #iconP{
        font-size:35px;
    }
    #project {
        margin-bottom: 50px;
    }


    #pDesc{
        margin-left: 0px;
        margin-top: 10px;
        width: auto;
        padding: 10px;
        text-align: center;
    }

    #project div img {
        width: 320px;
        height: 240px;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block-experiences #drupal-ex, #sigchi-ex, #pytuthor-ex{
        width: 320px;
    }

    #experience #expImg{
        width:400px;
    }

    #projects{
        padding-top:0px;
    }
}

@media (min-width:431px) and (max-width:780px){

    #project {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #individualProject{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 350px;
    }

        #insideProject{
        flex-direction: column;
    }
    #iconP{
        font-size:35px;
    }
    #project {
        margin-bottom: 50px;
    }


    #pDesc{
        margin-left: 0px;
        margin-top: 10px;
        width: auto;
        padding: 10px;
        text-align: center;
    }

    #project div img {
        width: 310px;
        height: 240px;
    }

    #block-experiences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #block-experiences #drupal-ex, #sigchi-ex, #pytuthor-ex{
        width: 370px;
    }

    #experience #expImg{
        width:400px;
    }

    #projects{
        padding-top:0px;
    }
}