#about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about-me {
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(-120%); /* Movido hacia la izquierda */
}

.about-me.effect {
    animation-name: loadLeft;
    animation-duration: 1.2s;
    animation-fill-mode: forwards; /* La animación retiene el estado final */
}

.about-skills {
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(-120%); /* Movido hacia la izquierda */
}
.about-skills.effect{
    animation-delay: 0.5s;
    animation-name: loadLeft;
    animation-duration: 1.2s;
    animation-fill-mode: forwards; /* La animación retiene el estado final */
}

@keyframes loadLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


#about-me {
    background-color: white;
    position: relative;
    bottom: 40px;
    text-align: start;
    width: 1400px;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    border-top: 6px solid white;
    transition: 350ms ease-out;
    border-top: 6px solid #8B61E3;
}

#tag-about {
    color: #8B61E3;
    font-weight: bold;
}

#about-me:hover {
    bottom: 48px;
}

#about-me-text {
    color: gray;
    font-size: 18px;
}

#block-experiences{
    display: flex;
    justify-content: center;
}

#block-experiences #drupal-ex, #sigchi-ex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 650px;
    margin: 30px;
}

#description-tech{
    color:gray;
}

#drupal-ex{
    border-radius: 5px;
    height: 350px;
    background-image: url("../../../public/drupalcamp.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#sigchi-ex{
    border-radius: 5px;
    height: 350px;
    background-image: url("../../../public/sigchi.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#experiences{
    background-color: #F5F6F7;
}

#sigchi-ex, #drupal-ex p{
    font-size: 18px;
}

#sigchi-ex a{
    font-weight: bold;
    color: white;
}

#drupal-ex a{
    font-weight: bold;
    color: white;
}

#about-skills {
    display: flex;
    width: 1420px;
    justify-content: center;
    align-items: center;
}

#component1{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-top: 6px solid white;
    margin: 0px 10px 50px 10px;
    width: 500px;
    position: relative;
    bottom: 10px;
    height: 305px;
    transition: 400ms ease-in-out;
}


#about-skills #component {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-top: 6px solid white;
    margin: 0px 10px 50px 10px;
    width: 500px;
    position: relative;
    bottom: 10px;
    transition: 400ms ease-in-out;
}

#about-skills #component:hover {
    border-top: 6px solid #8B61E3;
    bottom: 20px;
}

#component1:hover{
    border-top: 6px solid #8B61E3;
    bottom: 20px;
}

#about-skills #component:hover #icon{
    color:#8B61E3;
}
#icon {
    transition: 400ms ease-in-out;
    font-size: 50px;
    color: #727272
}



@media (min-width:270px) and (max-width:380px) {
    #icon {
        transition: 400ms ease-in-out;
        font-size: 40px;
        color: #727272
    }
    #about-me{
        width: 320px;
    }

    #about-skills #component{
        width: 320px;
    }
    
    #about-skills #component1{
        width: 320px;
        height: 380px;
    }
    #about-skills {
        width:320px;
        display: flex;
        flex-direction: column;
    }

    #about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}


@media (min-width:380px) and (max-width:430px) {

    .about-me {
        margin-right: 0px;
        width: 300px;
    }

    .skills {
        margin-left: 0px;
        margin: 50px 0px 50px 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about {
        height: auto;
    }

    #aboutMe {
        text-align: center;
    }

}

@media (min-width:431px) and (max-width:780px) {

    .about-me {
        margin-right: 0px;
        width: 300px;
    }

    .skills {
        margin-left: 0px;
        margin: 50px 0px 50px 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about {
        height: auto;
    }

    #aboutMe {
        text-align: center;
    }
}