#about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 100px;
}

.fast-presentation h1{
    font-size:55px;
}

.fast-presentation p{
    font-size:20px;
}

#about-me {
    background-color: #0F0F0F;
    text-align: start;
    width: 1400px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    transition: 400ms;
}

#about-me:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

#about-me h3{
    color:white;
    font-size:35px
}

#tag-about {
    color: #12AB7A;
    font-weight: bold;
}

#about-me-text {
    line-height: 1.7;
    color: gray;
    font-size: 18px;
}



#description-tech{
    color:gray;
}



#about-skills {
    display: flex;
    width: 1420px;
    justify-content: center;
    align-items: center;
}

#component span{
    color:#12AB7A;
}

#about-skills #component p{
    color:gray;
}



#about-skills #component {
    line-height: 1.7;
    background-color: #0F0F0F;
    color:white;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    width: 500px;
    border: 1px solid black;
    transition: 400ms;
}


#about-skills #component:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
#about-skills #component:hover #icon{
    color:#12AB7A;
}

#icon {
    transition: 400ms ease-in-out;
    font-size: 50px;
    color: #727272
}






@media (min-width:270px) and (max-width:380px) {
    #icon {
        transition: 400ms ease-in-out;
        font-size: 40px;
        color: #727272
    }
    #about-me{
        width: 320px;
    }

    #about-skills #component{
        width: 320px;
        margin-top: 30px;
    }
    
    #about-skills {
        width:320px;
        display: flex;
        flex-direction: column;
    }

    #about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    
}


@media (min-width:380px) and (max-width:430px) {
    #icon {
        transition: 400ms ease-in-out;
        font-size: 40px;
        color: #727272
    }

    #about-me{
        width: 380px;
    }

    #about-skills #component{
        width: 380px;
    }
    
    #about-skills {
        width:380px;
        display: flex;
        flex-direction: column;
    }

    #about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

}

@media (min-width:431px) and (max-width:780px) {
    #icon {
        transition: 400ms ease-in-out;
        font-size: 40px;
        color: #727272;

    }

    #about-me{
        width: 390px;
    }

    #about-skills #component{
        width: 390px;

    }
    
    #about-skills {

        width:380px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}