#about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top:100px;
}

.fast-presentation h1{
    font-size:55px;
}

.fast-presentation p{
    font-size:20px;
}

#about-me {

    background-color: #0F0F0F;
    text-align: start;
    width: 1300px;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.157);
    transition: 400ms;
}

#about-me:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

#about-me h3{
    color:white;
    font-size:35px
}

#tag-about {
    color: #12AB7A;
    font-weight: bold;
}

#about-me-text {
    line-height: 1.7;
    color: gray;
    font-size: 18px;
}


#description-tech{
    color:gray;
}



#about-skills {
    display: flex;
    width: 1320px;
    justify-content: center;
    align-items: center;

}

#component span{
    color:white;
}

#about-skills #component p{
    color:gray;
}



#about-skills #component {
    line-height: 1.7;
    border: 1px solid rgba(255, 255, 255, 0.157);
    background-color: #0F0F0F;
    backdrop-filter: blur(18px);
    color:white;
    padding: 20px;
    border-radius: 8px;;
    margin: 20px 10px 0px 10px;
    width: 100%;
    transition: 400ms;
}


#about-skills #component:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
#about-skills #component:hover #icon{
    color:#12AB7A;
}

#icon {
    transition: 400ms ease-in-out;
    font-size: 50px;
    color: #ffffff
}



@media (max-width:768px){

    #icon {
        transition: 400ms ease-in-out;
        font-size: 40px;
        color: #ffffff;
    }
    #about-me{
        margin:10px;
        width: auto;
    }

    #about-skills #component{
        width: auto;
        margin-top: 30px;
    }
    
    #about-skills {
        width:auto;

        flex-direction: column;
    }

    #about-container{
        margin-top:130px;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    #about-me{
        margin:10px;
        width: 92%;
    }

    #about-skills #component{
        width: auto;
        margin-top: 30px;
    }
    
    #about-skills {
        width:95%;
        flex-direction: column;
    }

    #about-container{
        margin-top:20px;
    }
}

@media (min-width:1025px) and (max-width:1525px) {
    #about-me{
        margin:10px;
        width: 91%;
    }

    #about-skills #component{
        width: 95%;
        margin-top: 30px;
    }
    
    #about-skills {
        width:95%;
        flex-direction: column;
    }

    #about-container{
        margin-top:20px;
    }
}
