#info-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    padding:20px;
    width:580px;

}

#info-contact img{
    width: 80px;
    height: 100px;
    margin-top: 30px;
}

#info-contact h4{
    color:gray;
}
#info-contact h1{
    margin-top:60px;
    font-size: 80px;
    font-weight: bold;
    color:#12AB7A;
}
#contact-container{
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

form{
    width:500px;
}

#button-email{
    background-color: #12AB7A;
    color:white;
    
}

#personal-data div i{
    font-size: 30px;
    text-decoration:none;
    color: #343331;    
}

#personal-data div{
    margin-left:40px;    
}

#personal-data div h4{
    font-size: 20px;
    display:inline;
}



#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px;
    background-color: #0F0F0F;
    border-radius: 8px;;
}


@media (min-width:270px) and (max-width:380px){
    #contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #info-contact{
        text-align: center;
        width: 270px;

    }
    #info-contact h1{
        font-size:40px;
    }

    #info-contact h4{
        text-align: center;
        font-size:15px;
    }
    #formContact{
        width:auto;
    }

    #personal-data{
        text-align: center;
    }

}



@media (min-width:380px) and (max-width:430px){
    #contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    #info-contact{
        text-align: center;
        width: 350px;

    }
    #info-contact h1{
        font-size:40px;

    }

    #info-contact h4{
        text-align: center;
        font-size:15px;
    }
    #formContact{
        width:320px;
    }
    #contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
    }

    #personal-data{
        text-align: center;
    }
}

@media (min-width:430px) and (max-width:780px){
    #contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #info-contact{
        text-align: center;
        width: 430px;

    }
    #info-contact h1{
        font-size:70px;

    }

    #info-contact h4{
        text-align: center;
        font-size:15px;
    }
    #formContact{
        width:380px;
    }
    #contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 420px;
    }

    #personal-data{
        text-align: center;
    }
}