
header img{
    width:600px;
    height: 600px;
}

header{
    height: 850px;
}
#cvButton{
    margin-left:40px;
}


@media (min-width:270px) and (max-width:380px){

    #img img{
        width: 270px;
        height: 300px;
    }
    #cvButton{
        margin-left:0px;
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
        margin-bottom:100px;
    } 
}

@media (min-width:380px) and (max-width: 430px){
    #img img{
        width: 350px;
        height: 350px;
    }
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
        margin-bottom:100px;
    }
    #cvButton{
        margin-left:0px;
        width: 190px;
        margin-bottom: 40px;
    }
    

}

