#text-animated{
    margin-bottom: 40px;
    color: white;

}

#text-animated h1{
    font-size:60px;
}

#fast-presentation{
    width: 100%;
}

#img{
    margin-left:50px;
}

#text{
    line-height: 1.7;
    font-size: 20px;
}

span{
    color:white;
    font-weight: bold;
}

#text p{
    font-size: 20px;
    color:white;
}

.container{
    margin-top:50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cvButton{
    background-color: #0F0F0F;
    backdrop-filter: blur(6px);
    font-weight: bold;
    padding:15px 25px 15px 20px;
    margin-top:20px;
    border-radius: 5px;
    border:1px solid black;
    color:white;
    transition: 0.2s ease-in;
}

#cvButton:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
    color:white;
    
    
}

header img{
    
    width:600px;
    height: 600px;
    animation-name: loadRight;
    animation-duration: 1.2s;
}


header{
    height: 850px;
}


#socialNetworks{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin:40px 0px 40px 0px;

    
}
#socialNetworks div{
    background-color: #0F0F0F;
    padding:10px;
    border:1px solid black;
    border-radius: 10px;
    transition: 400ms;
}

#socialNetworks div:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
#socialNetworks div #iconHeader{
    font-size: 40px;
    text-decoration:none;
 
    color: white;
    transition: 0.2s ease-in-out;
    

}
label{
    font-weight: bold;
    color:white;
}


@media (max-width:768px){
    #img{
        display: none;
    }

    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }

    .container{
        height: 100%;
        margin-top:30px;
    }
    #header{
        margin-top:180px;
    }
    #text-animated{
        font-size: 12px;
        margin-bottom: 20px;
    }
    #text p{
        font-size:15px;
    }
    #fast-presentation{
        width: 260px;
    }
    #img img{
        width: 270px;
        height: 290px;
        margin-left: -20px;
    }
    #cvButton{
        margin-left:0px;
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom:50px;
    }
}

/*
@media (min-width:270px) and (max-width:380px){
    #img{
        display: none;
    }

    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }

    .container{
        height: 100%;
        margin-top:30px;
    }
    #header{
        margin-top:180px;
    }
    #text-animated{
        font-size: 12px;
        margin-bottom: 20px;
    }
    #text p{
        font-size:15px;
    }
    #fast-presentation{
        width: 260px;
    }
    #img img{
        width: 270px;
        height: 290px;
        margin-left: -20px;
    }
    #cvButton{
        margin-left:0px;
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom:50px;
    } 
}

@media (min-width:380px) and (max-width: 430px){
    #img{
        display: none;
    }
    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }
    .container{
        height: 100%;
    }
    #header{
        margin-top:180px;
    }
    #text-animated{
        font-size: 12px;
        margin-bottom: 20px;
    }
    #text p{
        font-size:15px;
    }
    #fast-presentation{
        width: 350px;
    }
    #img img{
        width: 380px;
        height: 380px;

    }
    #cvButton{
        
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
        margin-bottom:100px;
    } 

}


@media (min-width:431px) and (max-width:780px){
    #img{
        display: none;
    }
    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }

    .container{
        height: 100%;
        margin-top:150px;
    }

    #text p{
        font-size:15px;
    }
    #fast-presentation{
        width: 410px;
    }
    #img img{
        width: 430px;
        height: 430px;

    }
    #cvButton{
        
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 180px;
        margin-bottom:100px;
    } 
}
*/
