#text-animated{
    margin-bottom: 40px;
    color: white;
}

#text-animated h2{
    font-size:60px;
}

#fast-presentation{
    padding-top:7%;
    width: 50%;
}

#personal{
    display:flex;
    align-items: center;
    margin-top:40px;
}

#profession{
    padding:4px 4px 4px 10px;
    background-color: rgba(10, 235, 164, 0.103);
    color: #1bd197;
    width: 320px;
    border-radius: 6px;
    border:1px #1bd19796 solid;
    font-size:22px;
}

#img{
    margin-left:50px;
}

#text{
    line-height: 1.7;
    font-size: 20px;
}

span{
    color:white;
    font-weight: bold;
}

#text p{
    font-size: 18px;
    color:rgb(151, 151, 151);
}

#header{
    margin:0px 180px 0px 180px;
    padding: 120px 0px 50px 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cvButton{
    background-color: #0F0F0F;
    backdrop-filter: blur(6px);
    font-weight: bold;
    padding:15px 25px 15px 20px;
    border-radius: 5px;
    border:1px solid black;
    color:white;
    transition: 0.2s ease-in;
}

#cvButton:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
    color:white;
    
    
}

header img{
    
    width:500px;
    height: 500px;
    animation-name: loadRight;
    animation-duration: 1.2s;
}


#socialNetworks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    
}
#socialNetworks div{
    background-color: #0F0F0F;
    padding:10px;
    border:1px solid black;
    border-radius: 10px;
    transition: 400ms;
}

#socialNetworks div:hover{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
#socialNetworks div #iconHeader{
    font-size: 40px;
    text-decoration:none;
    color: white;
    transition: 0.2s ease-in-out;
}

label{
    font-weight: bold;
    color:white;
}


@media (max-width:768px) {
    #personal{
        display:flex;
        flex-direction: column;
    }
    
    #img{
        display: none;
    }

    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }

    #header{
        margin-top:10px;
    }
    #text-animated{
        font-size: 12px;
        margin-bottom: 20px;
    }
    #text p{
        font-size:18px;
    }
    
    #fast-presentation{
        width: auto;
    }

    #cvButton{
        margin-left:0px;
        width: 190px;
        margin-bottom: 40px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom:50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #img{
        display: none;
    }
    #socialNetworks{
        flex-direction: row;
        justify-content: center;
    }

    #header{
        height: 100%;
    }

    #text p{
        font-size:20px;
    }
    #fast-presentation{
        width: 410px;
    }

    #cvButton{
        
        width: 190px;

    }
    
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        margin-bottom:100px;
    } 
    #profession{
        padding:4px 4px 4px 10px;
        background-color: rgba(10, 235, 164, 0.103);
        color: #1bd197;
        width: 100%;
        border-radius: 6px;
        border:1px #1bd19796 solid;
        font-size:22px;
    }
}
