body, #experiences, #contact-container{
    background-color: black;
}
h2{
    font-family: "Rubik", sans-serif;
}
h1{
    font-family: "Rubik", sans-serif;
    font-size:60px;
}

#title-projects{

    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    color:white;
}

#title-projects p{
    font-size:18px;

}

@media (min-width:270px) and (max-width:380px) {
    h1{
        font-size:50px;
    }
}




